# IDE
.idea
.vscode
*.iml
*.ipr
*.iws
kreya
.kreya

# node
node_modules
node/stroeer
node/dist
node-legacy/stroeer
node-legacy/dist
bin/protoc
*.tgz

# java
java/bin
java/build
java/.gradle
java/src/main/java
java/.*
.gradle

# binaries
protoc-gen-grpc-java

# generated code
gen/
book.toml
