# IDE
.idea
.vscode
*.iml
*.ipr
*.iws
kreya
.kreya
.DS_Store

# node
node_modules
node/stroeer
node/dist
node-proto/stroeer
node-proto/dist
bin/protoc
*.tgz
*.tsbuildinfo

# java
java/bin
java/build
java/.gradle
java/src/main/java
java/.*
.gradle

# binaries
protoc-gen-grpc-java

# generated code
gen/
book.toml

# Make postman
root.proto
