# IDE
.idea
.vscode
*.iml
*.ipr
*.iws
kreya
.kreya
.DS_Store

# node
node_modules
node/stroeer
node/dist
node-proto/stroeer
node-proto/dist
node-buf/dist
node-buf/stroeer
bin/protoc
*.tgz
*.tsbuildinfo

# binaries
protoc-gen-grpc-java

# generated code
gen/
book.toml
tapir.pb

# Make postman
root.proto
