name: release-packages

on:
  push:
    tags:
      - 'v*'

jobs:
  registry:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: bufbuild/buf-setup-action@v1

      - uses: bufbuild/buf-push-action@v1
        with:
          buf_token: ${{ secrets.BUF_TOKEN }}

  java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: bufbuild/buf-setup-action@v1

      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: make
        run: make generate

      - name: publish
        working-directory: java
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          RELEASE_TAG=${GITHUB_REF/refs\/tags\/v/}
          echo $RELEASE_TAG
          ./gradlew -Pversion=$RELEASE_TAG clean build publish

  node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          cache-dependency-path: 'node/package-lock.json'
          node-version-file: 'node/.nvmrc'
          registry-url: "https://npm.pkg.github.com"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: bufbuild/buf-setup-action@v1

      - name: npm ci
        run: npm ci
        working-directory: node

      - name: make
        run: make generate

      - name: Run node checks
        run: npm run checks
        working-directory: node

      - name: npm publish
        working-directory: node
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          RELEASE_TAG=${GITHUB_REF/refs\/tags\/v/}
          echo $RELEASE_TAG
          npm version $RELEASE_TAG
          npm publish

  go:
    runs-on: ubuntu-latest
    steps:
      - name: start release workflow in go-tapir
        run: |
          RELEASE_TAG=${GITHUB_REF/refs\/tags\/v/}
          echo $RELEASE_TAG
          curl -X POST https://api.github.com/repos/stroeer/go-tapir/dispatches \
          -H 'Accept: application/vnd.github.everest-preview+json' \
          -u ${{ secrets.GO_TAPIR_TOKEN }} \
          --data '{"event_type": "publish", "client_payload": { "tag": "'"$RELEASE_TAG"'" }}'
