name: release-packages

on:
  push:
    tags:
      - 'v*'

jobs:
  java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          java-version: 11
          java-package: jdk

      - name: make
        run: make

      - name: publish
        working-directory: java
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          RELEASE_TAG=${GITHUB_REF/refs\/tags\/v/}
          echo $RELEASE_TAG
          ./gradlew -Pversion=$RELEASE_TAG clean build publish

  node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"
          registry-url: "https://npm.pkg.github.com"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: npm ci
        run: npm ci
        working-directory: node

      - name: make
        run: make LANGUAGE=node

      - name: Run node checks
        run: npm run checks
        working-directory: node

      - name: npm publish
        working-directory: node
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          RELEASE_TAG=${GITHUB_REF/refs\/tags\/v/}
          echo $RELEASE_TAG
          npm version $RELEASE_TAG
          npm publish
