name: pull-request

on:
  pull_request:
    branches:
      - master

jobs:
  buf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: bufbuild/buf-setup-action@v1.3.1

      - uses: bufbuild/buf-lint-action@v1.0.0

      - uses: bufbuild/buf-breaking-action@v1.0.0
        if: always()
        with:
          against: "https://github.com/stroeer/tapir.git#branch=master"

  java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'

      - run: make LANGUAGE=java

      - name: build
        run: ./gradlew clean build
        working-directory: java

  node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"

      - name: npm ci
        run: npm ci
        working-directory: node

      - run: make LANGUAGE=node

      - name: Run node checks
        run: npm run checks
        working-directory: node

  node-legacy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "14.x"

      - name: npm ci
        run: npm ci
        working-directory: node-legacy

      - run: make LANGUAGE=node-legacy

      - name: Run node checks
        run: npm run checks
        working-directory: node-legacy

  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v2

      - run: make LANGUAGE=go && make go-mod

      - name: go test
        run: go test -v .
        working-directory: go
