name: pull-request

on:
  pull_request:
    branches:
      - master

jobs:
  buf:
    runs-on: ubuntu-latest
    container: bufbuild/buf
    steps:
      - uses: actions/checkout@v2

      - name: lint
        run: buf check lint

      - name: check breaking change
        id: buf_breaking
        run: |
          buf check breaking --against-input 'https://github.com/stroeer/tapir.git#branch=master' --input-config buf.yaml > message.txt || true
          echo "::set-output name=message::$(cat message.txt)"
          if [ -s message.txt ]; then
            echo ::set-output name=failed::'true';
          fi

      - if: steps.buf_breaking.outputs.failed == 'true'
        name: comment PR
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: |
            ## :fire: Breaking Changes
            ```
            ${{ steps.buf_breaking.outputs.message }}
            ```
          check_for_duplicate_msg: false

      - if: steps.buf_breaking.outputs.failed != 'true'
        name: comment PR
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: |
            ## :white_check_mark: No Breaking Changes
          check_for_duplicate_msg: false

  java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: 11
          java-package: jdk

      - name: setup protoc
        run: ./install_proto.sh

      - name: make
        run: make PROTOC=./bin/protoc LANGUAGE=java OUTPUT=./java/src/main/java

      - name: build
        run: ./gradlew clean build
        working-directory: java

  node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: npm install
        run: npm install
        working-directory: node

      - name: setup protoc
        run: ./install_proto.sh

      - name: make
        run: make PROTOC=./bin/protoc LANGUAGE=node OUTPUT=./node

# do we need to test protoc?
#      - name: Run node checks
#        run: npm test
#        working-directory: node
