name: Linting and check PR for breaking changes
on:
  pull_request:
    branches:
      - master

jobs:
  validate:
    runs-on: ubuntu-latest
    container: bufbuild/buf
    steps:
      - uses: actions/checkout@v2
      - name: lint
        run: buf check lint
      - name: check breaking change
        id: buf_breaking
        run: |
          buf check breaking --against-input 'https://github.com/stroeer/tapir.git#branch=master' --input-config buf.yaml > message.txt || true
          echo "::set-output name=message::$(cat message.txt)"
          if [ -s message.txt ]; then
            echo ::set-output name=failed::'true';
          fi
      - if: steps.buf_breaking.outputs.failed == 'true'
        name: comment PR
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: |
            ## :fire: Breaking Changes
            ```
            ${{ steps.buf_breaking.outputs.message }}
            ```
          check_for_duplicate_msg: false
      - if: steps.buf_breaking.outputs.failed != 'true'
        name: comment PR
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: |
            ## :white_check_mark: No Breaking Changes
          check_for_duplicate_msg: false
