name: pull-request

on:
  pull_request:
    branches:
      - main

jobs:
  java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'

      - uses: bufbuild/buf-setup-action@v1

      - name: generate
        run: make generate

      - name: test
        run: ./gradlew build
        working-directory: java

  node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: bufbuild/buf-setup-action@v1

      # we need Node for the local execution of protoc Typescript plugin
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          cache-dependency-path: 'node/package-lock.json'
          node-version-file: 'node/.nvmrc'

      # we need Node for the local execution of protoc Typescript plugin
      - name: install
        run: npm ci
        working-directory: node

      - name: generate
        run: make generate TEMPLATE=buf.gen.node.yaml

      - name: checks
        run: npm run checks
        working-directory: node

  node-proto:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: bufbuild/buf-setup-action@v1

      # we need Node for the local execution of protoc Typescript plugin
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          cache-dependency-path: 'node-proto/package-lock.json'
          node-version-file: 'node-proto/.nvmrc'

      # we need Node for the local execution of protoc Typescript plugin
      - name: install
        run: npm ci
        working-directory: node-proto

      - name: generate
        run: make generate TEMPLATE=buf.gen.node-proto.yaml

      - name: checks
        run: npm run checks
        working-directory: node-proto

  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.20'

      - uses: bufbuild/buf-setup-action@v1

      - name: generate go code
        run: make generate TEMPLATE=buf.gen.go.yaml

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: bufbuild/buf-setup-action@v1

      - uses: bufbuild/buf-lint-action@v1

  breaking:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4

        - uses: bufbuild/buf-setup-action@v1

        - uses: bufbuild/buf-breaking-action@v1
          if: always()
          with:
            against: "https://github.com/stroeer/tapir.git#branch=main"

