name: pull-request

on:
  pull_request:
    branches:
      - master

jobs:
  api-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16'

      - run: go install github.com/googleapis/api-linter/cmd/api-linter@v1.15.0

      - name: Google API linter
        run: api-linter --output-format stroeer/core/v1/article.proto

  buf:
    runs-on: ubuntu-latest
    container: bufbuild/buf
    env:
      BUF_INPUT_HTTPS_USERNAME: $GITHUB_ACTOR
      BUF_INPUT_HTTPS_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - name: lint
        run: buf check lint

      - name: check breaking change
        id: buf_breaking
        run: |
          buf check breaking --against-input 'https://github.com/stroeer/tapir.git#branch=master' --input-config buf.yaml > message.txt || true
          echo "::set-output name=message::$(cat message.txt)"
          if [ -s message.txt ]; then
            echo ::set-output name=failed::'true';
          fi

      - if: steps.buf_breaking.outputs.failed == 'true'
        name: comment PR
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: |
            ## :fire: Breaking Changes
            ```
            ${{ steps.buf_breaking.outputs.message }}
            ```
          check_for_duplicate_msg: false

      - if: steps.buf_breaking.outputs.failed != 'true'
        name: comment PR
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: |
            ## :white_check_mark: No Breaking Changes
          check_for_duplicate_msg: false

  java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: 11
          java-package: jdk

      - name: make
        run: make

      - name: build
        run: ./gradlew clean build
        working-directory: java

  node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"

      - name: npm ci
        run: npm ci
        working-directory: node

      - name: make
        run: make LANGUAGE=node

      - name: Run node checks
        run: npm run checks
        working-directory: node

  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2

      # (in contrast to localhost) w/o the '--always-make' option, this target is always up-to-date on GitHub actions. Don't know why, yet
      - name: make
        run: make LANGUAGE=go --always-make

      - name: go test
        run: go test -v .
        working-directory: go
