name: pull-request

on:
  pull_request:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: bufbuild/buf-setup-action@v1

      # we need Node for the local execution of protoc Typescript plugin
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          cache-dependency-path: 'node/package-lock.json'
          node-version-file: 'node/.nvmrc'

      - name: npm ci
        run: npm ci
        working-directory: node

      - run: make generate test

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: bufbuild/buf-setup-action@v1

      - uses: bufbuild/buf-lint-action@v1

  breaking:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3

        - uses: bufbuild/buf-setup-action@v1

        - uses: bufbuild/buf-breaking-action@v1
          if: always()
          with:
            against: "https://github.com/stroeer/tapir.git#branch=main"

